/* CSS cho footer */
html,
body {
  height: 100%;
  /* Thiết lập chiều cao của html và body là 100% của viewport */
  margin: 0;
  /* Xóa margin mặc định */
  padding: 0;
  /* Xóa padding mặc định */
}